/* needed because of ios safari issue https://stackoverflow.com/questions/3047337/does-overflowhidden-applied-to-body-work-on-iphone-safari */

html,
body {
  overflow: hidden;
  position: relative;
  height: 100%;
}

/* Visually hidden but still readable by screen readers. */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Extra small devices (portrait phones, less than 600px) */
@media (max-width: 599px) {
  .visually-hidden--xs {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

/* Small devices (landscape phones, 600px and up) */
@media (min-width: 600px) and (max-width: 899px) {
  .visually-hidden--sm {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

/* Medium devices (tablets, 900px and up) */
@media (min-width: 900px) and (max-width: 1199px) {
  .visually-hidden--md {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

/* Large devices (desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1535px) {
  .visually-hidden--lg {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

/* Extra large devices (large desktops, 1536px and up) */
@media (min-width: 1536px) {
  .visually-hidden--xl {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}
